body {
  font-family: 'Radio Canada' !important;
  color: rgb(65, 65, 65);
}

#logo {
  font-family: 'Bebas Neue' !important;
  font-weight: bold;
  letter-spacing: 0.05em;
  font-size: 4rem;
  color: black;
}

.navbar {
  background-color: #4879c8 !important;
}

body {
  background-color: rgb(248, 249, 251) !important;
}

.center {
  text-align: center;
}

.base-background {
  background: #1ca44e;
  color: white;

  padding: 0.1rem 0.35rem !important;
}

.base-background h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 0.1rem 0.35rem !important;
}
.btn-next {
  border-color: #f1c232;
}

/* .learn-content { */
/* 	height: 60vh; */
/* } */

.attempted {
  background-color: #00fdc8;
}

.wrong {
  background-color: #f54f4f;
}
