
.arrange-option {
  padding: 0.25rem 0.5rem;
  border: 1px solid #eee;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
}

.arrange-option:hover {
  cursor: grab;
}

.choice {
  padding: 0.35rem 0.5rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #eee;
  border-radius: 0.25rem;
}

.choice:hover {
  cursor: pointer;
}

.choice[selected] {
  border: 1px solid #f1c232;
}

.bubble {
  width: 12px;
  height: 12px;
  background-color: #eee;
  border-radius: 1rem;
  margin-right: 1rem;
}

.choice[selected] .bubble {
  background-color: #f1c232;
}

.choice p {
  padding: 0rem;
  margin: 0rem;
}