<script type="text/javascript" src="{{ url_for('static', filename = 'learn-2col.js') }}"></script>

<div class="row justify-content-md-center my-4">
    <div class="col-6 center">
        <div id="carouselExampleControls" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{content.image}}" class="img-fluid" alt="{{content.imageAlt}}">
                </div>
                <div class="carousel-item">
                    <video controls width="99%">
                        <source src="/static/Blinds.mp4"
                                type="video/mp4">
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>
    <div class="col-6">
        <ul id="list">
        </ul>
    </div>
</div>
