{% extends "layout.html" %} {% macro progress() -%} {{(index / total * 100) | round | int}} {%- endmacro %} {% block content %}
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'quiz.css') }}" />

<script>
  let question = {{question | tojson}}
  let logs = {{logs | tojson }}
  let quizIndex = {{index}}
</script>

<div class="container">
  <h4>Q{{ index }}: {{ question.question }}</h4>

  {% if question.type == "arrange" %}
  <div class="arrange droppable ui-widget-header"></div>
  {% elif question.type == "mcq" %}
  <div class="mcq">
    {% for option in question.options %}
    <div class="choice">
      <div class="bubble"></div>
      <p>{{option}}</p>
    </div>
    {% endfor %} {% endif %} {% if total != index %}
    <div class="row my-3">
      <div class="col-md-2">
        <a href="/learn/{{question.learningPage}}" class="btn btn-next">
          <h3 class="mx-4 my-0">Learn</h3>
        </a>
      </div>
      <div class="col-md-8"></div>
      <div class="col-md-2">
        <button class="btn btn-next" onclick="submitOption()">
          <h3 class="mx-4 my-0">Next</h3>
        </button>
      </div>
    </div>
    {% else %}
    <div class="row my-3">
      <div class="col-md-2">
        <a href="/learn/{{question.learningPage}}" class="btn btn-next">
          <h3 class="mx-4 my-0">Learn</h3>
        </a>
      </div>
      <div class="col-md-8"></div>
      <div class="col-2 center">
        <a href="/results" class="btn btn-next">
          <h3 class="mx-4 my-0">Finish</h3>
        </a>
      </div>
    </div>
    {% endif %}

    <div class="progress">
      <div
        class="progress-bar progress-bar-striped bg-success"
        role="progressbar"
        style="width: {{progress()}}%"
        aria-valuenow="{{progress()}}"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        {{progress()}}%
      </div>
    </div>
  </div>

  {% endblock %}
</div>
